.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}
label{
    display: inline-block;
    text-align: right;
    float: left;
}

input{
    display: inline-block;
    text-align: left;
    float: right;
}

textarea{
    display: inline-block;
    text-align: left;
    float: right;
}

#comment{
    width: 300px;
    height: 100px;
}

.post_form{
    width:30%;
    margin: 0 auto;
}

.center_button{
    position:relative;
    left:40%;
}

.center_div{
    position:relative;
    margin: 0 auto;
    width: 400px;
}

.checked{
    color:orange;
}

.container-fluid{
    padding: 65px;
}


