.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.post_label{
    display: inline-block;
    text-align: right;
    float: left;
}

.warning_label{
    display: inline-block;
    text-align: right;
    float: left;
    color: red;
}

.post_input{
    display: inline-block;
    text-align: left;
    float: right;
}

#comment{
    width: 300px;
    height: 100px;
}

.post_form{
    width:30%;
    margin: 0 auto;
}

.center_button{
    position:relative;
    left:40%;
}

.welcome_header{
    width: 600px;
    position:relative;
    left:0%;
}

.center_div{
    position:relative;
    margin: 0 auto;
    width: 400px;
}

.checked{
    color:orange;
}

.container-fluid {
    padding: 65px;
}
.career_fair_gif{
    width: 400px;
}

/* #post {
    margin: auto;
    width: 50rem;
} */